body {
  font-family: $font-primary;
  color: $textprimary;
  background-color: $sitebg;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

a,
p,
li,
button {
  font-family: $font-mono;
}

.cta__link-secondary {
  @include pill-button($bg: $dark100, $textcolor: $white);
}

.top__announcement {
  @include container-padding;
  background-color: $primary;
  padding-top: 5px;
  padding-bottom: 5px;

  p {
    font-size: 12px;
    text-align: center;
    font-family: $font-mono;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.main__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  @include container-padding;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-sm;
  }
}
