$primary: #ffba00;
$dark100: #222430;
$offwhite: #fffaf6;
$white: #fff;
$sitebg: #eff7fa;
$bordercolor: #464f6e;

$textprimary: #2e302e;
$textsecondary: #434c6c;

$radius: 12px;

$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

$font-primary: "Inter", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
$font-mono: "Roboto Mono", monospace;
